#title {
 text-align: center;
 overflow:hidden;
}

#body {
 overflow:auto;
 padding: 5px;
 position:absolute;
 bottom: 0px;
 right:0px;
 top:60px;
 border-radius: 20px 20px 20px 20px;

}

#fixedElement {
    position:fixed !important;
    position: absolute; /*ie6 */
    bottom: 0;
}

#sidebar {
	float: left;
}
path {
  stroke: white;
  stroke-width: 0.00025px;
  fill: grey;
}
.decile1 {fill:rgb(247,251,255)}
.decile2 {fill:rgb(222,235,247)}
.decile3 {fill:rgb(198,219,239)}
.decile4 {fill:rgb(158,202,225)}
.decile5 {fill:rgb(107,174,214)}
.decile6 {fill:rgb(66,146,198)}
.decile7 {fill:rgb(33,113,181)}
.decile8 {fill:rgb(8,81,156)}
.decile9 {fill:rgb(8,48,107)}
.decile10 {fill:rgb(8,31,53)}
.greyregion {fill: grey}