#title {
 text-align: center;
 overflow:hidden;
}

#body {
 overflow:auto;
 background:black;
 padding: 5px;
 position:absolute;
 bottom: 0px;
 right:0px;
 top:60px;
 border-radius: 20px 20px 20px 20px;

}

#fixedElement {
    position:fixed !important;
    position: absolute; /*ie6 */
    bottom: 0;
}

#sidebar {
}
